@page "/counter"

<h2>Counter</h2>

<p>Current count: @Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    [Parameter] public int Value { get; set; } = 0;

    private void IncrementCount()
    {
        Value++;
    }

}