@page "/help"
@using Controller
@using Model
@inject IController Controller
@inject IModel Model

<h2>Jakiś problem?</h2>

<div style="margin-top: 12px; width: 324px; text-align: center">
    <RadzenLink Text="Oto rozwiązanie" Path="http://make-everything-ok.com/" Target="_blank"/>
</div>