@page "/appointments-date"
@using ZsutPw.Patterns.Application.Controller
@using ZsutPw.Patterns.Application.Model.Data
@using ZsutPw.Patterns.Application.Model
@inject IController controller
@inject IModel model
<h3>Get appointments by doctor ID and date</h3>

<h5 style="margin-top: 16px">Doctor ID:</h5>

<RadzenTextBox Name="searchText" @bind-Value=@model.SearchText Style="width: 160px" />


<h5 style="margin-top: 16px">Date:</h5>

<RadzenTextBox Name="dateOfAppointment" @bind-Value=@model.VisitDate Style="width: 160px" />


<RadzenButton Icon="search" Text="Search" Click=@controller.GetAppointmentsByDoctorIdAndDateAsync Style="width: 160px" />

<h5 style="margin-top: 16px">Appointments</h5>

<RadzenListBox Name="appointmentsList" Data=@model.AppointmentsByDoctorIdAndData TValue="AppointmentsWithPatientNameDto" @bind-Value=@model.SelectedAppointmentByDoctorId Style="width: 324px; height: 240px">
    <Template Context="appointmentsList">
        Appointment number: @appointmentsList.AppointmentId with @appointmentsList.PatientName @appointmentsList.PatientSurname on @appointmentsList.DateOfAppointment
    </Template>
</RadzenListBox>

<p></p>
<RadzenButton Icon="delete" Text="Delete appointment" Click=@controller.DeleteAppointmentAsync Style="width: 160px" />
<div style="margin-top: 12px; width: 324px; text-align: center">
    <RadzenLink Text="ZSUT IT PW home page" Path="https://zsut.tele.pw.edu.pl/" Target="_blank" />
</div>

@code {
    private IController controller_ = ControllerFactory.GetController(new EventDispatcher());
    private void Delete()
    {
        controller.DeleteAppointmentAsync();
    }
}
