@page "/patients"
@using ZsutPw.Patterns.Application.Controller
@using ZsutPw.Patterns.Application.Model 
@using ZsutPw.Patterns.Application.Model.Data
@inject IController controller
@inject IModel model
<h3>Get patients by doctor ID</h3>

<h5 style="margin-top: 16px">Doctor ID:</h5>

<RadzenTextBox Name="searchText" @bind-Value=@model.SearchText Style="width: 160px" />

<RadzenButton Icon="search" Text="Search" Click=@controller.GetPatientsByDoctorIdAsync Style="width: 160px" />

<h5 style="margin-top: 16px">Patients</h5>

<RadzenListBox Name="patientsList" Data=@model.PatientsByDoctorId TValue="PatientsShortDto" SelectedItem=@model.SelectedPatientsByDoctorId Style="width: 324px; height: 240px">
    <Template Context="patientsList">
        @patientsList.Name @patientsList.Surname
    </Template>
</RadzenListBox>

<div style="margin-top: 12px; width: 324px; text-align: center">
    <RadzenLink Text="ZSUT IT PW home page" Path="https://zsut.tele.pw.edu.pl/" Target="_blank" />
</div>

@code {
    private IController controller_ = ControllerFactory.GetController(new EventDispatcher());
}
